<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wismap.springsecuritydemo.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.wismap.springsecuritydemo.model.User">
      <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="loginname" property="loginname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="localusername" property="localusername" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="mobile" property="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="GEN_TIME" property="genTime" javaType="java.util.Date" jdbcType="DATE" />
      <result column="last_login_time" property="lastLoginTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="login_count" property="loginCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="status" property="status" javaType="java.lang.Boolean" typeHandler="com.wismap.springsecuritydemo.utils.ShortToBooleanTypeHandler" />
      <result column="img" property="img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <collection property="positionList" ofType="com.wismap.springsecuritydemo.model.Position" javaType="List">
          <result column="pos_id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <result column="position_name" property="positionName" javaType="java.lang.String" jdbcType="VARCHAR" />
          <result column="pos_description" property="description" javaType="java.lang.String" jdbcType="VARCHAR" />
          <result column="department_id" property="departmentId" javaType="java.lang.Integer" jdbcType="INTEGER" />
          <result column="department_name" property="departmentName" javaType="java.lang.String" jdbcType="VARCHAR" />
      </collection>
      <collection property="rolesList" ofType="com.wismap.springsecuritydemo.model.Role" javaType="List">
        <result column="RID" property="id" jdbcType="BIGINT"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME_LOCAL" property="roleNameLocal" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="GEN_TIME1" property="genTime" jdbcType="VARCHAR"/>
      </collection>
  </resultMap>

  <sql id="Base_Column_List">
      SELECT
        u.ID,
        u.LOGINNAME,
        u.PASSWORD,
        u.LOCALUSERNAME,
        u.MOBILE,
        u.EMAIL,
        u.GEN_TIME,
        u.LAST_LOGIN_TIME,
        u.LOGIN_COUNT,
        u.STATUS,
        u.IMG,
        o.ID as RID,
        o.ROLE_NAME ,
        o.ROLE_NAME_LOCAL ,
        o.DESCRIPTION ,
        o.GEN_TIME,
        pos.id as pos_id,
        pos.position_name as position_name,
        pos.description as pos_description,
        pos.department_id as department_id,
        dep.department_name as department_name,
        pos.pid as pid
        FROM
        t_user u
        LEFT JOIN T_REF_USER_ROLE r ON u.id = r.USER_ID
        LEFT JOIN T_ROLE o ON r.ROLE_ID = o.id
        LEFT JOIN t_ref_user_position refup on u.id=refup.user_id
        LEFT JOIN t_position pos on refup.position_id=pos.id
        left join t_department dep on pos.department_id=dep.id
  </sql>

  <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
      <include refid="Base_Column_List"/>
        where u.loginname = #{loginname,jdbcType=VARCHAR}
  </select>

    <select id="selectAll" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        order by u.id desc
        limit #{limit,jdbcType=BIGINT } offset #{offset,jdbcType=BIGINT }
    </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from t_user
    where loginname = #{loginname,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.wismap.springsecuritydemo.model.User">
    insert into t_user (loginname, password, localusername, 
      mobile, email, gen_time, 
      last_login_time, login_count, status, 
      img)
    values (#{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{localusername,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{genTime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT,typeHandler=com.wismap.springsecuritydemo.utils.ShortToBooleanTypeHandler},
      #{img,jdbcType=VARCHAR})
      <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
          SELECT currval('t_user_id_seq')
      </selectKey>
  </insert>

  <update id="update" parameterType="com.wismap.springsecuritydemo.model.User">
    update t_user
    set loginname = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      localusername = #{localusername,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gen_time = #{genTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      login_count = #{loginCount,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT,typeHandler=com.wismap.springsecuritydemo.utils.ShortToBooleanTypeHandler},
      img = #{img,jdbcType=VARCHAR}
    where loginname = #{loginname,jdbcType=VARCHAR}
  </update>

</mapper>