<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wismap.springsecuritydemo.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.wismap.springsecuritydemo.model.User">
      <id column="id" property="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="loginname" property="loginname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="password" property="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="localusername" property="localusername" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="mobile" property="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="email" property="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result column="GEN_TIME" property="genTime" javaType="java.util.Date" jdbcType="DATE" />
      <result column="last_login_time" property="lastLoginTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <result column="login_count" property="loginCount" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <result column="status" property="status" javaType="java.lang.Boolean" typeHandler="com.wismap.springsecuritydemo.utils.ShortToBooleanTypeHandler" />
      <result column="img" property="img" javaType="java.lang.String" jdbcType="VARCHAR" />
      <collection property="rolesList" ofType="com.wismap.springsecuritydemo.model.Role" javaType="List">
        <result column="RID" property="id" jdbcType="BIGINT"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME_LOCAL" property="roleNameLocal" jdbcType="VARCHAR"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="GEN_TIME1" property="genTime" jdbcType="VARCHAR"/>
      </collection>
  </resultMap>

  <sql id="Base_Column_List">
    id, loginname, password, localusername, mobile, email, gen_time, last_login_time, 
    login_count, status, img
  </sql>

  <select id="select" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT
        t.ID,
        t.LOGINNAME,
        t.PASSWORD,
        t.LOCALUSERNAME,
        t.MOBILE,
        t.EMAIL,
        t.GEN_TIME,
        t.LAST_LOGIN_TIME,
        t.LOGIN_COUNT,
        t.STATUS,
        t.IMG,
        o.ID as RID,
        o.ROLE_NAME ,
        o.ROLE_NAME_LOCAL ,
        o.DESCRIPTION ,
        o.GEN_TIME
        FROM
        t_user t
        LEFT JOIN T_REF_USER_ROLE r ON t.id = r.USER_ID
        LEFT JOIN T_ROLE o ON r.ROLE_ID = o.id
        where t.loginname = #{loginname,jdbcType=VARCHAR}
  </select>

  <delete id="delete" parameterType="java.lang.Integer">
    delete from t_user
    where loginname = #{loginname,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.wismap.springsecuritydemo.model.User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user (loginname, password, localusername, 
      mobile, email, gen_time, 
      last_login_time, login_count, status, 
      img)
    values (#{loginname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{localusername,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{genTime,jdbcType=TIMESTAMP}, 
      #{lastLoginTime,jdbcType=TIMESTAMP}, #{loginCount,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{img,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="com.wismap.springsecuritydemo.model.User">
    update t_user
    set loginname = #{loginname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      localusername = #{localusername,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gen_time = #{genTime,jdbcType=TIMESTAMP},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      login_count = #{loginCount,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT,typeHandler=com.wismap.springsecuritydemo.utils.ShortToBooleanTypeHandler},
      img = #{img,jdbcType=VARCHAR}
    where loginname = #{loginname,jdbcType=VARCHAR}
  </update>

</mapper>